@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

:root {
  --background: #ffffff;
  --foreground: #333333;
  --secondary: #b9b9b9;
  --border: lab(90.72% .0000298023 -.0000119209);
}

@theme {

  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-secondary: var(--secondary);
  --color-border: var(--border);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-interr: var(--font-next-interr);
  --font-intert: var(--font-next-intert);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-interr), sans-serif;
}

.scrolll::-webkit-scrollbar {
  display: none;
}

.scrolll {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@utility link-underline {
    @apply underline decoration-current/30 decoration-1 underline-offset-3 transition-colors hover:decoration-current;
}

/* rehype-pretty-code dual theme support */
code[data-theme*=" "],
code[data-theme*=" "] span {
  color: var(--shiki-light);
  background-color: var(--shiki-light-bg);
}

pre[data-theme*=" "] {
  background-color: var(--shiki-light-bg) !important;
}